# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')
chipo.head()

### Step 4. How many products cost more than $10.00?

In [34]:
chipo['prices_float'] = pd.to_numeric(chipo.item_price.str.slice(1))
(chipo.prices_float > 10).sum()

1130

In [41]:
product_price=chipo.groupby('item_name').agg({'prices_float':'max'})
(product_price.prices_float > 10).sum()

31

In [ ]:
# clean the item_price column and transform it in a float
prices = [float(value[1 : -1]) for value in chipo.item_price]

# reassign the column with the cleaned prices
chipo.item_price = prices

# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(['item_name','quantity','choice_description'])

# chipo_filtered

# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]
chipo_one_prod

# chipo_one_prod[chipo_one_prod['item_price']>10].item_name.nunique()
# chipo_one_prod[chipo_one_prod['item_price']>10]



#chipo.query('price_per_item > 10').item_name.nunique()

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [ ]:
chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)]

In [51]:
# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])
#chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)]

# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]

# select only the item_name and item_price columns
price_per_item = chipo_one_prod[['item_name', 'item_price']]

# sort the values from the most to less expensive
price_per_item.sort_values(by = "item_price", ascending = False).head(20)

                  item_name item_price
92       Steak Crispy Tacos     $9.25
554   Carnitas Crispy Tacos     $9.25
237     Carnitas Soft Tacos     $9.25
56      Barbacoa Soft Tacos     $9.25
8          Steak Soft Tacos     $9.25
21         Barbacoa Burrito     $8.99
664             Steak Salad     $8.99
54               Steak Bowl     $8.99
33            Carnitas Bowl     $8.99
27         Carnitas Burrito     $8.99
3750         Carnitas Salad     $8.99
12       Chicken Soft Tacos     $8.75
11     Chicken Crispy Tacos     $8.75
44       Chicken Salad Bowl     $8.75
16          Chicken Burrito     $8.49
1694           Veggie Salad     $8.49
1653    Veggie Crispy Tacos     $8.49
1414                  Salad     $7.40
673                    Bowl     $7.40
520            Crispy Tacos     $7.40

In [52]:
chipo_one_prod

      order_id  ...  item_price
0            1  ...      $2.39
1            1  ...      $3.39
2            1  ...      $3.39
3            1  ...      $2.39
5            3  ...     $10.98
6            3  ...      $1.69
7            4  ...     $11.75
8            4  ...      $9.25
10           5  ...      $4.45
11           6  ...      $8.75
12           6  ...      $8.75
16           8  ...      $8.49
21          11  ...      $8.99
27          14  ...      $8.99
28          14  ...      $1.09
33          17  ...      $8.99
34          17  ...      $1.09
38          18  ...      $2.95
39          19  ...     $11.75
40          19  ...      $2.15
44          20  ...      $8.75
54          25  ...      $8.99
56          26  ...      $9.25
57          26  ...     $11.25
62          28  ...     $11.25
92          40  ...      $9.25
111         49  ...      $2.95
168         75  ...     $11.75
186         83  ...     $11.25
191         85  ...      $2.39
233        102  ...      $2.95
237        103  ...      $9.25
250        109  ...     $10.98
263        114  ...      $1.25
298        129  ...      $6.49
300        130  ...      $2.39
510        214  ...      $7.40
520        217  ...      $7.40
554        230  ...      $9.25
606        250  ...     $11.89
664        276  ...      $8.99
673        279  ...      $7.40
674        279  ...      $3.00
738        304  ...     $11.25
1132       468  ...     $11.89
1229       501  ...     $11.89
1414       575  ...      $7.40
1653       668  ...      $8.49
1694       686  ...      $8.49
3750      1500  ...      $8.99

[50 rows x 5 columns]

### Step 6. Sort by the name of the item

In [53]:
chipo.item_name.sort_values()

# OR

chipo.sort_values(by = "item_name")

      order_id  ...  item_price
3389      1360  ...     $12.98
341        148  ...      $6.49
1849       749  ...      $6.49
1860       754  ...      $6.49
2713      1076  ...      $6.49
...        ...  ...         ...
2384       948  ...      $8.75
781        322  ...      $8.75
2851      1132  ...      $8.49
1699       688  ...     $11.25
1395       567  ...      $8.49

[4622 rows x 5 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [54]:
chipo.sort_values(by = "item_price", ascending = False).head(1)

      order_id  ...  item_price
2624      1042  ...      $9.39

[1 rows x 5 columns]

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [55]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [56]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(chipo_drink_steak_bowl)

20